src/conf/xml-resources/web-service-references/services/wsdl/localhost_1234/services.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="PDFGeneratorService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:1234/services?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createPieChart"></message>
<message name="createPieChartResponse"></message>
<message name="IOException">
<part name="fault" element="tns:IOException"></part>
</message>
<message name="createBarChart"></message>
<message name="createBarChartResponse"></message>
<portType name="PDFGenerator">
<operation name="createPieChart">
<input wsam:Action="http://ws/PDFGenerator/createPieChartRequest" message="tns:createPieChart"></input>
<output wsam:Action="http://ws/PDFGenerator/createPieChartResponse" message="tns:createPieChartResponse"></output>
<fault message="tns:IOException" name="IOException" wsam:Action="http://ws/PDFGenerator/createPieChart/Fault/IOException"></fault>
</operation>
<operation name="createBarChart">
<input wsam:Action="http://ws/PDFGenerator/createBarChartRequest" message="tns:createBarChart"></input>
<output wsam:Action="http://ws/PDFGenerator/createBarChartResponse" message="tns:createBarChartResponse"></output>
<fault message="tns:IOException" name="IOException" wsam:Action="http://ws/PDFGenerator/createBarChart/Fault/IOException"></fault>
</operation>
</portType>
<binding name="PDFGeneratorPortBinding" type="tns:PDFGenerator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="createPieChart">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"></soap:body>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createBarChart">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://ws/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://ws/"></soap:body>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="PDFGeneratorService">
<port name="PDFGeneratorPort" binding="tns:PDFGeneratorPortBinding">
<soap:address location="http://localhost:1234/services"></soap:address>
</port>
</service>
</definitions>